html {
    height: 100%;
}

body {
    height: 97%;
}

p {
    position: absolute;
    font-size: 40px;
    max-width: 100%;
    overflow: scroll;
    white-space: nowrap;
}

#display {
    position: relative;
    width: 100%;
    height: 20%;
    border: 1px solid black;
}

#text {
    top: -40px;
    right: 0px;
}

#result {
    bottom: -40px;
    right: 0px;
}

#buttons {
    width: 100%;
    height: 80%;
    border: 1px solid green;
}

button {
    color: black;
    width: 25%;
    height: 16.66%;
    float: left;
    font-size: 100%;
    background: linear-gradient(to bottom, white, lightgray);
}
